bazel*
# bazel-genfiles
# bazel-inceptionv3-visual-concepts
# bazel-out
# bazel-testlogs

inceptionv3/data/inception_v3.ckpt
inceptionv3/data/mscoco-visual-concepts/
inceptionv3/data/readTFRecord.py
inceptionv3/data/blend_mscoco_with_flickr30/
inceptionv3/data/flickr30/
inceptionv3/data/inception/
inceptionv3/data/resnet152/
inceptionv3/data/mscoco/

inceptionv3/model/
inceptionv3/results/

inceptionv4/model/
inceptionv4/results/

resnet152/model/
resnet152/results/
