bazel*
# bazel-genfiles
# bazel-im2txt-visual-concepts
# bazel-out
# bazel-testlogs

im2txt/data/inception_v3.ckpt
im2txt/data/mscoco-visual-concepts/
im2txt/data/readTFRecord.py
im2txt/data/blend_mscoco_with_flickr30/
im2txt/data/flickr30/
im2txt/data/inception/
im2txt/data/resnet152/
im2txt/data/mscoco/

im2txt/model/
im2txt/results/
im2txt/records/

inceptionv4/model/
inceptionv4/results/
inceptionv4/records/

resnet152/model/
resnet152/results/
resnet152/records/
